<div class="container text-center">
  <p></p>
  <h1>Hello World</h1>
  <hr>
  <h3>You are roading on Rails...</h3>
  <br>
  <br>
  <br>
  <br>
  <p class="text-muted">
    Built with
    <span>dao42/rails-template</span>
    !
  </p>

  <%= link_to 'About Page', page_path('about') %>
</div>
