<div class="container text-center">
  <p></p>
  <h1>About Page</h1>
  <hr>
  <p>This is an example for about page, using `high_voltage`</p>
  <br>
  <br>
  <br>
  <%= link_to 'Back to Home', root_path %>
</div>
