<nav class="app-header navbar navbar-expand bg-body">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-lte-toggle="sidebar" data-widget="pushmenu" href="javascript:void(0)">
        <i class="fas fa-bars"></i>
      </a>
    </li>
  </ul>
  <!-- SEARCH FORM -->
  <% if content_for?(:search) %>
    <%= yield(:search) %>
  <% end %>
  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">
    <!-- Messages Dropdown Menu -->
    <li class="nav-item dropdown show">
      <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
        <span>
          <%= current_admin.name %>
        </span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="user-header">
          <%= link_to 'Account Setting', edit_admin_account_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Logout', admin_logout_path, method: :delete, class: 'dropdown-item' %>
        </li>
      </ul>
    </li>
  </ul>
</nav>
