<!-- ===== Sidebar Start ===== -->
<aside
  x-data="{ sidebarOpen: false }"
  :class="sidebarOpen ? 'translate-x-0' : '-translate-x-full'"
  class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col overflow-y-hidden bg-boxdark duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0"
  @click.outside="sidebarOpen = false"
>
  <!-- SIDEBAR HEADER -->
  <div class="flex items-center justify-between gap-2 px-6 py-5.5 lg:py-6.5">
    <%= link_to admin_root_path, class: "flex items-center gap-2" do %>
      <div class="flex h-10 w-10 items-center justify-center rounded-lg bg-primary">
        <svg class="fill-white" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15.5375 0.618744H11.6531C10.7594 0.618744 10.0031 1.37499 10.0031 2.26874V4.64062C10.0031 5.05312 10.3469 5.39687 10.7594 5.39687C11.1719 5.39687 11.55 5.05312 11.55 4.64062V2.23437C11.55 2.16562 11.5844 2.13124 11.6531 2.13124H15.5375C16.3625 2.13124 17.0156 2.78437 17.0156 3.60937V18.3562C17.0156 19.1812 16.3625 19.8344 15.5375 19.8344H11.6531C11.5844 19.8344 11.55 19.8 11.55 19.7312V17.3594C11.55 16.9469 11.1719 16.6031 10.7594 16.6031C10.3469 16.6031 10.0031 16.9469 10.0031 17.3594V19.7312C10.0031 20.625 10.7594 21.3812 11.6531 21.3812H15.5375C17.2219 21.3812 18.5625 20.0062 18.5625 18.3562V3.64374C18.5625 1.95937 17.1875 0.618744 15.5375 0.618744Z" fill=""/>
          <path d="M6.05001 11.7563H12.2031C12.6156 11.7563 12.9594 11.4125 12.9594 11C12.9594 10.5875 12.6156 10.2438 12.2031 10.2438H6.08439L8.21564 8.07813C8.52501 7.76875 8.52501 7.2875 8.21564 6.97812C7.90626 6.66875 7.42501 6.66875 7.11564 6.97812L3.67814 10.4844C3.36876 10.7938 3.36876 11.275 3.67814 11.5844L7.11564 15.0906C7.25314 15.2281 7.45001 15.2969 7.61251 15.2969C7.77501 15.2969 7.97189 15.2281 8.10939 15.0906C8.41876 14.7812 8.41876 14.3 8.10939 13.9906L6.05001 11.7563Z" fill=""/>
        </svg>
      </div>
      <span class="text-xl font-semibold text-white">Dashboard</span>
    <% end %>

    <button
      class="block lg:hidden"
      @click.stop="sidebarOpen = !sidebarOpen"
    >
      <svg
        class="fill-current"
        width="20"
        height="18"
        viewBox="0 0 20 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19 8.175H2.98748L9.36248 1.6875C9.69998 1.35 9.69998 0.825 9.36248 0.4875C9.02498 0.15 8.49998 0.15 8.16248 0.4875L0.399976 8.3625C0.0624756 8.7 0.0624756 9.225 0.399976 9.5625L8.16248 17.4375C8.31248 17.5875 8.53748 17.7 8.76248 17.7C8.98748 17.7 9.17498 17.625 9.36248 17.475C9.69998 17.1375 9.69998 16.6125 9.36248 16.275L3.02498 9.8625H19C19.45 9.8625 19.825 9.4875 19.825 9.0375C19.825 8.55 19.45 8.175 19 8.175Z"
          fill=""
        />
      </svg>
    </button>
  </div>
  <!-- SIDEBAR HEADER -->

  <div class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
    <!-- Sidebar Menu -->
    <nav class="mt-5 py-4 px-4 lg:mt-9 lg:px-6">
      <!-- Menu Group -->
      <div>
        <h3 class="mb-4 ml-4 text-sm font-medium text-bodydark2">MENU</h3>

        <ul class="mb-6 flex flex-col gap-2">
          <!-- Dashboard -->
          <li>
            <%= link_to admin_root_path,
                class: "group relative flex items-center gap-2.5 rounded-md py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark #{admin_active_for(admin_root_path, current_path) ? 'bg-graydark' : ''}" do %>
              <svg class="fill-current" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.10322 0.956299H2.53135C1.5751 0.956299 0.787598 1.7438 0.787598 2.70005V6.27192C0.787598 7.22817 1.5751 8.01567 2.53135 8.01567H6.10322C7.05947 8.01567 7.84697 7.22817 7.84697 6.27192V2.72817C7.8751 1.7438 7.0876 0.956299 6.10322 0.956299ZM6.60947 6.30005C6.60947 6.5813 6.38447 6.8063 6.10322 6.8063H2.53135C2.2501 6.8063 2.0251 6.5813 2.0251 6.30005V2.72817C2.0251 2.44692 2.2501 2.22192 2.53135 2.22192H6.10322C6.38447 2.22192 6.60947 2.44692 6.60947 2.72817V6.30005Z" fill=""/>
                <path d="M15.4689 0.956299H11.8971C10.9408 0.956299 10.1533 1.7438 10.1533 2.70005V6.27192C10.1533 7.22817 10.9408 8.01567 11.8971 8.01567H15.4689C16.4252 8.01567 17.2127 7.22817 17.2127 6.27192V2.72817C17.2408 1.7438 16.4533 0.956299 15.4689 0.956299ZM15.9752 6.30005C15.9752 6.5813 15.7502 6.8063 15.4689 6.8063H11.8971C11.6158 6.8063 11.3908 6.5813 11.3908 6.30005V2.72817C11.3908 2.44692 11.6158 2.22192 11.8971 2.22192H15.4689C15.7502 2.22192 15.9752 2.44692 15.9752 2.72817V6.30005Z" fill=""/>
                <path d="M6.10322 9.92822H2.53135C1.5751 9.92822 0.787598 10.7157 0.787598 11.672V15.2438C0.787598 16.2001 1.5751 16.9876 2.53135 16.9876H6.10322C7.05947 16.9876 7.84697 16.2001 7.84697 15.2438V11.7001C7.8751 10.7157 7.0876 9.92822 6.10322 9.92822ZM6.60947 15.272C6.60947 15.5532 6.38447 15.7782 6.10322 15.7782H2.53135C2.2501 15.7782 2.0251 15.5532 2.0251 15.272V11.7001C2.0251 11.4188 2.2501 11.1938 2.53135 11.1938H6.10322C6.38447 11.1938 6.60947 11.4188 6.60947 11.7001V15.272Z" fill=""/>
                <path d="M15.4689 9.92822H11.8971C10.9408 9.92822 10.1533 10.7157 10.1533 11.672V15.2438C10.1533 16.2001 10.9408 16.9876 11.8971 16.9876H15.4689C16.4252 16.9876 17.2127 16.2001 17.2127 15.2438V11.7001C17.2408 10.7157 16.4533 9.92822 15.4689 9.92822ZM15.9752 15.272C15.9752 15.5532 15.7502 15.7782 15.4689 15.7782H11.8971C11.6158 15.7782 11.3908 15.5532 11.3908 15.272V11.7001C11.3908 11.4188 11.6158 11.1938 11.8971 11.1938H15.4689C15.7502 11.1938 15.9752 11.4188 15.9752 11.7001V15.272Z" fill=""/>
              </svg>
              Dashboard
            <% end %>
          </li>

          <!-- Write your menu item here-->


          <!-- Good Job -->
          <li>
            <%= link_to admin_good_job_path, target: '_blank',
                class: "group relative flex items-center gap-2.5 rounded-md py-2 px-4 font-medium text-bodydark1 duration-300 ease-in-out hover:bg-graydark #{current_path.include?('/admin/good_job') ? 'bg-graydark' : ''}" do %>
              <svg class="fill-current" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.7499 2.9812H14.2874V2.51245C14.2874 1.58433 13.5062 0.831543 12.5781 0.831543C11.6499 0.831543 10.8687 1.61245 10.8687 2.51245V2.9812H7.16239V2.51245C7.16239 1.58433 6.38114 0.831543 5.45302 0.831543C4.5249 0.831543 3.74365 1.61245 3.74365 2.51245V2.9812H2.2499C1.29365 2.9812 0.478027 3.79683 0.478027 4.75308V14.5406C0.478027 15.4969 1.29365 16.3125 2.2499 16.3125H15.7499C16.7062 16.3125 17.5218 15.4969 17.5218 14.5406V4.72495C17.5218 3.79683 16.7062 2.9812 15.7499 2.9812ZM1.77178 8.21245H4.5249V10.9656H1.77178V8.21245ZM5.8187 8.21245H8.57178V10.9656H5.8187V8.21245ZM8.57178 12.2594H5.8187V15.0125H5.45302C5.10927 15.0125 4.79365 14.8406 4.56553 14.5406V12.2594H1.77178V14.5406C1.77178 14.7844 1.97803 15.0125 2.2499 15.0125H5.45302V12.2594H8.57178ZM9.8656 12.2594V15.0125H12.5781C12.8218 15.0125 13.0499 14.7844 13.0499 14.5406V12.2594H9.8656ZM14.2874 12.2594V14.5406C14.2874 14.8406 13.9718 15.0125 13.6281 15.0125H14.2874V12.2594ZM16.2281 14.5406C16.2281 14.7844 16.0218 15.0125 15.7499 15.0125H14.2874V12.2594H16.2281V14.5406ZM16.2281 10.9656H13.4749V8.21245H16.2281V10.9656ZM16.2281 6.9187H13.4749V4.16558H15.7499C16.0218 4.16558 16.2281 4.3937 16.2281 4.66558V6.9187ZM13.4749 6.9187V4.16558H9.8656V6.9187H13.4749ZM8.57178 6.9187V4.16558H4.9624V6.9187H8.57178ZM3.66865 4.16558V6.9187H1.77178V4.72495C1.77178 4.42495 2.0874 4.25308 2.42803 4.25308H3.66865V4.16558Z" fill=""/>
                <circle cx="9" cy="9" r="2" fill="currentColor"/>
              </svg>
              Job Queue
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Sidebar Menu -->
  </div>
</aside>
<!-- ===== Sidebar End ===== -->
