<% if class_path.first == 'admin' -%>
# Don't forget to add menu item in app/views/shared/admin/_sidebar.html.erb
class <%= class_name %>Controller < Admin::BaseController
<% else -%>
class <%= class_name %>Controller < ApplicationController
<% end -%>
<% actions.each do |action| -%>

  def <%= action %>
  end

<% end -%>
end
